* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
#enchant-stage {
	// margin: 0 auto;
	// border: 1px solid #d8d8d8;
	// border-radius: 3px;
}



form {
	margin: 10px;
}

.blankplate {
	padding-bottom: 0px;
}
.game{
    width: 750px;  /* enchant.jsのGameオブジェクトの作成時に設定したゲーム画面サイズ */
    height: 600px;
    margin: 10px auto;
    // border: 1px solid #000000;  /* ゲーム画面を囲う線（任意） */
}
.username {
	margin-right: 10px;
}



.clearfix{
    zoom:1;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
    height: 0;
    visibility:hidden;
}
 
/* サークルのスタイル */
.sns_circle{
    position:relative;
    width: 50px;
    height: 50px;
    margin:0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 15%;
    background-color: #999;
    float:left;
    list-style: none;
}
 
/* Webフォントに関する指定 */
.sns_circle span{
    position:absolute;
    padding:10px;
    font-size:30px;
    color:#FFF;/* 文字の色 */
}
 
/* リンク領域をブロック全体に */
.sns_circle a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 15%;
    text-indent:-999px;
    color:#FFF;/* 文字の色 */
}
 
/* マウスオーバー */
.sns_circle a:hover{
    background-color:#FFF;
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
 
/* 横幅を300pxに固定して真ん中に表示 */
ul.circle_group{
    width:300px;
    margin:auto;
    list-style: none;
    padding:0;
}
 
/* アイコン毎の配色と配置 */ 
.sns_circle.facebook{
    background-color: #265a96;
}
 
.sns_circle.twitter{
    background-color: #00acec;
}
 
.sns_circle.hatebu{
    background-color: #006fbb;
}
.sns_circle.github{
	width: 50px;
	height: 50px;
	background-color: #ffffff;
}

.user {
	margin-bottom: 10px;
}
.github {
	height: 60px;
	border-bottom: 1px dotted gray;
}
.github b{
	font-size: 18px;
}


footer {
	clear: both;
	margin-top: 10px;
}
footer hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer p {
	font-family: Georgia,Serif;
	text-align: center;
}