* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
#enchant-stage {
	// margin: 0 auto;
}



form {
	margin: 10px;
}

.blankplate {
	padding-bottom: 0px;
}
.game{
    width: 750px;  /* enchant.jsのGameオブジェクトの作成時に設定したゲーム画面サイズ */
    height: 600px;
    margin: 10px auto;
    // border: 1px solid #000000;  /* ゲーム画面を囲う線（任意） */
}

.status0 {
  background: #eee;
}
.status1 {
  background: #d6e685;
}
.status2 {
  background: #8cc665;
}
.status3 {
  background: #44a340;
}
.status4 {
  background: #1e6823;
}